@import "./variables";

.feat_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
}

.feat_card {
  background-color: #f8f8f8;
  padding: 15px 5px 25px 15px;

  .icon-btn {
    width: 75px;
    height: 75px;
    cursor: default;

    &:hover {
      background-color: transparent;
    }

    &:hover path {
      fill: none;
    }
  }
}

.feat_card-num {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: $gold;
  margin: 17px 0 8px;
}

.feat_card-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: $text-dark;
}

.feat_section {
  padding-bottom: 0;
  margin-bottom: -30px;
}

@media screen and (min-width: 924px) {
  .feat_grid {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 43px;
    column-gap: 32px;
  }

  .feat_section {
    padding-bottom: 100px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .feat_card-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .feat_card-num {
    font-size: 20px;
  }

  .feat_card {
    padding: 25px;
  }
}
