@import "./variables";

/* HERO */
.hero_section {
  height: 100vh;
  background-image: url("/images/sections/hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .primary-btn {
    margin: 19px 0 25px;
  }
}

.hero_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;

  span {
    color: $gold;
  }
}

.hero_subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.line {
  margin: 0 0 13px;
}

.scroll-btn {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  border-radius: 100%;
  border: solid 1px #fff;

  div {
    margin-top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: inline;
    }
  }
}

.bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 600px) {
  .hero_section {
    background-image: url("/images/sections/hero_bg-d.png");
  }

  .hero_title {
    font-size: 50px;
    font-weight: 400;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: center;
  }

  .hero_subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }
}
