@import "./variables";

.floors_btns-box.wrapper {
    margin-top: 10px;
    justify-content: center;
    column-gap: 25px;
}

.floors-box {
    margin-bottom: 40px;

    p {
        width: 100%;
        justify-content: flex-start;
        color: #fff;
    }
}

.floor-btn {
    padding: 13px 30px;
    border-radius: 70px;
    background-color: #f4f4f420;
    color: #Fff;

    &:hover,
    &.active {
        background-color: $gold;
    }
}

.floors_cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    column-gap: 30px;
}

.floors_card {
    background-color: $text-dark;
    padding: 20px 10px;
    border-radius: 5px;

    img {
        width: 100%;
        height: auto;
    }
}

.dwnld-btn {
    padding: 13px 18px;
    color: #fff;
    background-color: $gold;
    border: solid 1px $gold;
    border-radius: 70px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;

    &:hover {
        background-color: transparent;
    }
}

.floors-bot-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    span {
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
        color: $gold;
    }
}

.floors_card-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
    margin-bottom: 15px;
}

.floors_card-bot.wrapper {
    margin-top: 20px;
    border-top: solid 1px $text-light;
    padding-top: 20px;
    height: fit-content;
}

@media screen and (min-width: 425px) {
    .floors_btns-box.wrapper {
        margin-top: 10px;
        justify-content: center;
        column-gap: 15px;
    }

}

@media screen and (min-width: 600px) {
    .floors_cards {
        grid-template-columns: 1fr 1fr;
    }

    .floors_btns-box.wrapper {
        margin-top: 10px;
        justify-content: center;
        column-gap: 25px;
    }
}

@media screen and (min-width: 768px) {
    .floors_cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .floors-box {
        p {
            text-align: center;
        }
    }
}