/* variables */
$hypatia: "hypatia sans pro", sans-serif;
$viaoda: "Viaoda Libre", serif;
$gold: rgba(194, 179, 149, 1);
$bg: rgba(32, 32, 32, 1);
$black: #151515;
$text-light: #8c8c8c;
$text-white: #b5b5b5;
$text-dark: #555555;
